__pycache__/
*.py[cod]
*$py.class

venv/
.env

.vscode/
.idea/

app/data/cachedShops/*
app/data/inputMapping/*
app/data/mapped_attributes/*
app/data/mapped_categories/*
app/data/uploads/*

!app/data/cachedShops/.gitkeep
!app/data/inputMapping/.gitkeep
!app/data/mapped_attributes/.gitkeep
!app/data/mapped_categories/.gitkeep
!app/data/uploads/.gitkeep