__pycache__/
*.py[cod]
*$py.class

venv/
.env

.vscode/
.idea/


app/data/cachedAttributesOptions/*
app/data/cachedCategories/*
app/data/categories/*
app/data/context/*
app/data/inputMapping/*
app/data/mapped_attributes/*
app/data/mapped_categories/*
app/data/mappedUuidCode/*

!app/data/**/.gitkeep
